 /* 放index的样式  */
/* banner */
.banner  {
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper {
     position: relative;
    height: 500px;
    background-color: pink;
}

 /* 侧导航 */
.banner .aside {
     position: absolute;
     left: 0;
     top: 0;
     width: 250px;
     height: 500px;
     background-color: rgba(0, 0, 0, 0.8);
} 

.banner .aside li {
    height: 50px;
    line-height: 50px;
}

.banner .aside a {
    position: relative;
    /* 宽度和父级一 */
    padding-left: 36px;
    padding-right: 9px;
    display: block;
    height: 50px;
    line-height: 50px;
    /* background-color: #fff; */
    color: #fff;
}

/* 设置span内容的文字大小与位置 */
.banner .aside span  {
    margin-left: 15px;
    font-size: 14px;
}

/* 设置a标签鼠标悬停是的背景颜色改变 */
.banner .aside a:hover {
    background-color:#27ba9b;
}

/* a里面最后位置添加箭头 */
.banner .aside a::after {
    /* 伪元素是行内显示模式, 加宽加高不生效,可以直接定位*/
    /* a::after的父级是a */
    position: absolute;
    right: 19px;
    top: 19px;
    content: '';
    width: 6px;
    height: 11px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

/* 箭 头*/
.prev,
.next {
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color:rgba(0, 0, 0, 0.8);
    background-image: url(../images/sprites.png);
    border-radius: 50%;
}

 /* 背景图位置负责2件事：
    改变箭头在盒子里面的位置；改变精灵图的位置
    导致在精灵图中测量的尺寸不准确
    解决方案有2种
    1.书写背景图位置属性，借助谷歌的调试工具调试具体的位置数值
    2.书写标签的时候，a负责盒子，里面再添加一个span负责箭头
 */

/* prev水平方向 */
.prev {
    background-position: 12px -58px;
    left: 260px;
}

/* next水平方向 */
.next {
    background-position: -22px -58px;
    right: 10px;
}

/* 圆点 */
.banner ol {
    position: absolute;
    left: 680px;
    bottom: 30px;
    width: 200px;
    height: 10px;
    /* background-color: pink; */
}

.banner ol li {
    float: left;
    margin-right: 24px;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    cursor: pointer;
}

 .banner ol .current {
    background-color: #fff;
}

/* 新鲜好物 */
.goods .hd {
    height: 114px;
    /* background-color: pink; */
    line-height: 114px;
}

.goods .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.goods .hd h2 span {
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.goods .hd a,
.shengxian .hd .maore {
    float: right;
    color: #999;
    margin-left: 870px;
    font-size: 16px;
}

.goods .hd a::after,
.shengxian .hd .more::after {
    content: '';
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    height: 13px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.goods .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    text-align: center;
}

.goods .bd li:nth-child(4n) {
    margin-right: 0;
}

.goods .bd li img {
    width: 304px;
}

.goods .bd li h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.goods .bd li div {
    color: #9a2e1f;
    font-size: 17px;
}

.goods .bd li div span {
    font-size: 23px;
}

.goods .bd li b {
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px ;
    font-size: 18px;
    color: #27ba9b;
    font-weight: 400;
    /* 默认行高导致两个字之间稍微有一点远，可以设置行高,利用检查器进行调整 */
    line-height: 24px;
}

/* 人气推荐 */
.recommend .hd {
    height: 114px;
    /* background-color: pink; */
    line-height: 114px;
}

.recommend .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.recommend .hd h2 span {
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.recommend .hd a {
    float: right;
    color: #999;

}

.recommend .hd a::after {
    content: '';
    display: inline-block;
    margin-left: 13px;
    width: 7px;
    height: 13px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position: 0 -110px;
    vertical-align: middle;
}

.recommend .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 304px;
    height: 405px;
    background-color: #f0f9f4;
    text-align: center;
}

.recommend .bd li:nth-child(4n) {
    margin-right: 0;
}

.recommend .bd li img {
    width: 304px;
}

.recommend .bd li h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.recommend .bd li div {
    color: #9a2e1f;
    font-size: 17px;
}

.recommend .bd li div span {
    font-size: 13px;
    color: #999;
}

.recommend .bd li b {
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 102px;
    border: 1px solid #27ba9b;
    border-radius: 2px ;
    font-size: 18px;
    color: #27ba9b;
    font-weight: 400;
    /* 默认行高导致两个字之间稍微有一点远，可以设置行高,利用检查器进行调整 */
    line-height: 24px;
}

/* 热门品牌 */
.hot .hd {
    height: 114px;
    /* background-color: pink; */
    line-height: 114px;
}

.hot .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
    height: 114px;
}

.hot .hd h2 span {
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.hot .hd a {
    float: right;
    color: #999;
    /* margin-left: 870px;
    font-size: 16px; */
}

.hot .hd a::after {
    content: '';
    display: inline-block;
    margin-left: 13px;
    width: 14px;
    height: 13px;
    /* background-color: green; */
    background-image: url(../images/sprites.png);
    background-position: 4px -109px;
    vertical-align: middle;
}

.hot .hd a::after:hover {
    background-color: skyblue;
}

.hot .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 240px;
    height: 319px;
    background-color: #f0f9f4;
    text-align: center;
}

.hot .bd li:nth-child(5n) {
    margin-right: 0;
}

.hot .bd li img {
    width: 245px;
}

.hot .bd li h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.hot .bd li div {
    color: #9a2e1f;
    font-size: 17px;
}

.hot .bd li div span {
    font-size: 23px;
}

.hot .bd li b {
    position: absolute;
    left: 17px;
    top: 18px;
    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 2px ;
    font-size: 18px;
    color: #27ba9b;
    font-weight: 400;
    /* 默认行高导致两个字之间稍微有一点远，可以设置行高,利用检查器进行调整 */
    line-height: 24px;
}
 
/* 生鲜 */
.shengxian .hd {
    height: 96px;
    /* background-color: pink; */
    line-height: 96px;
}

.shengxian .hd h2 {
    float: left;
    font-size: 29px;
    font-weight: 400;
}

.shengxian .hd .more {
    float: right;
}

.shengxian .hd ul {
    float: right;
    margin-right: 65px;
}

.shengxian .hd ul li {
    float: left;
}

.shengxian .hd li a {
    padding: 2px 7px;
    margin-left: 6px;
}

.shengxian .hd li a:hover {
    background-color: #27ba9b;
    color: #fff;
}

.shengxian .bd .left {
    float: left;
    width: 240px;
    height: 618px;
    background-color: pink;
}

.shengxian .bd .right {
    float: left;
    width: 1000px;
    height: 610px;
    /* background-color: blue; */
}

.shengxian .bd li img {
    width: 242px;
}

.shengxian .bd li {
    position: relative;
    float: left;
    margin-right: 8px;
    width: 244px;
    height: 305px;
    background-color: #f0f9f4;
    text-align: center;
}

.shengxian .bd li:nth-child(4n) {
    margin-right: 0;
}
